body{
    background-color: rgb(181, 194, 122); font-family: 'Times New Roman', Times, serif;
}
body > header{background-color: rgb(181, 194, 122);}
body > main > h3 ,form, hr {background-color: beige;}
#logo {background-color: rgb(181, 194, 122);
    color: #c27f79;
    font-family: "Fredoka One", "Times New Roman";
}
body {margin: 0px}

#anchor {
    text-decoration: none;
    list-style: none;
}

  .links {color: bisque;
text-decoration: none;
}
body > main > article {
   width: 85%; margin: auto; text-align: justify;
}
form {box-align: center; text-align: center;}
h3 {box-align: center; text-align: center;}


